{% extends 'base.html' %}
{% block content %}
<h1>Fish Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
            <span class="card-title">{{ fish.name }}</span>
            <p>Common Name: {{ fish.commonName }}</p>
            <p>Description: {{ fish.sciName }}</p>
            <p>Habitat: {{ fish.habitat }}</p>
            {% if fish.quantity > 0 %}
                <p>Quantity: {{ fish.quantity }}</p>
            {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'fish_update' fish.id %}">Edit</a>
                <a href="{% url 'fish_delete' fish.id %}">Delete</a>
            </div>
        </div>
    </div>

    <div class="col s6">

        <form action = "{% url 'add_survey' fish.id %}" method="POST">
          {% csrf_token %}
          {{ survey_form.as_p }}
          <input type="submit" class="btn" value="Add Survey">
        </form>
    
        <table class="striped">
          <thead>
            <tr><th>Date</th><th>Age</th></tr>
          </thead>
          <tbody>
            {% for survey in fish.surveys_set.all %}
              <tr>
                <td>{{survey.date}}</td>
                <td>{{survey.get_age_display}}</td>
              </tr>>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>

<hr>
  <div class="row">
    <div class="col s6">
        <h3>Selected Collectors</h3>
          {% if fish.collectors.count %}
              {% for collector in fish.collectors.all %}
                  <div class="card">
                      <div class="card-content">
                          <span class="card-title">
                            {{ collector.name }} on {{ collector.vessel }}
                          </span>
                      </div>
                  </div>
              {% endfor %}
          {% else %}
              <h5>No collectors have been assigned to this collection yet</h5>
          {% endif %}
    </div>
    <div class="col s6">
      <h3>Available Collectors</h3>
        {% if collectors.count %}
          {% for collector in collectors.all %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  {{ collector.name }} on {{ collector.vessel }}
                </span>
              </div>
              <div class="card-action">
                <form action="{% url 'assoc_collector' fish.id collector.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% else %}
            <h5>{{ cat.name }} All Collectors Participated in this Collection</h5>
        {% endif %}
    </div>
  </div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    const selectEl = document.getElementById('id_age');
      M.FormSelect.init(selectEl);
  </script>
{% endblock %}
