{% extends 'base.html' %}
{% block content %}
<h1> Fish List</h1>

{% for fish in fish %}

<a href="{% url 'detail' fish.id %}">
  <div class="card">
    <div class="card-content cyan-text text-darken-4">
      <span class="card-title">{{ fish.name }}</span>
      <p>Common Name: {{ fish.commonName }}</p>
      <p>Description: {{ fish.sciName }}</p>
      <p>Habitat: {{ fish.habitat }}</p>
      {% if fish.quantity > 0 %}
        <p>Quantity: {{ fish.quantity }}</p>
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}